<!-- <div [formGroup]="form"> -->
<!-- <label [attr.for]="question.question">{{question.label}}</label> -->
<mat-form-field [formGroup]="form" class="question-full-width">
    <textarea matInput placeholder={{question.question}} formControlName={{question.question}} id={{question.question}}></textarea>
</mat-form-field>
<!-- <div [ngSwitch]="question.controlType">

        <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.question" [id]="question.question" [type]="question.type">

        <select [id]="question.question" *ngSwitchCase="'dropdown'" [formControlName]="question.question">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>

    </div> -->

<!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
<!-- </div> -->