<!--The content below is only a placeholder and can be replaced.-->

<md-toolbar color="primary">
  
      
      <span class="spacer"></span>
      <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> </button>
      <span >Gator Grader</span>
  </md-toolbar>
  
  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Help </button>
    <button md-menu-item> Admin </button>
  </md-menu>
  <md-card>
    
          <md-card-title>
              Welcome to Gator Grader: 
          </md-card-title>
      <md-card-content>
          <p>
            Please grade your teacher:
          </p>
         <p>
            
         </p>
          <p>
          <button md-icon-button>Forms</button>
          </p>
      </md-card-content>
      
  </md-card>
