<h3> Teacher Review </h3>

<div class="form">
    <form class="teacher-review">
        <mat-form-field class="example-full-width">
            <input placeholder="Teacher Name" value="Mr.Jones" matInput>
        </mat-form-field>
        <p>
            <mat-form-field class="example-full-width">
                <input placeholder="Teacher Grade" value="A+" matInput>
            </mat-form-field>
        </p>
    </form>
    <button mat-raised-button color="primary" (click)="goBack()">Back</button>
  
</div>
